@import 'site-settings';

body {
	background: url("http://hopeglenfarm.com/wp-content/uploads/2014/03/bg22.jpg") top center no-repeat #000;
	font-family: 'Lora', serif;
}

.fa {
	color: white;
}

.dash {
	@media(min-width: $md) {
		display: none;
	}
}

.dots {
	@media(max-width: $md) {
		display: none;
	}
}

#mobileLogo {
	@media(min-width: $md) {
		display: none;
	}
}

#logo {
	@media(max-width: $md) {
		display: none;
	}
}

.home {
	@media(max-width: $md) {
		margin-top: -4.58rem !important;
		padding-top: 3rem;
		background-color: beige;
	}
	@media(max-width: $sm) {
		margin-top: -5rem !important;
	}
}

.icons {
	display: none;
	background-color: $burgundy;
	width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	border-left: 0.5rem solid $burgundy;
	border-right: 0.5rem solid $burgundy;

	.fa {
		font-size: 2.5rem;
		padding-left: 0.7rem;
		color: beige;
		@media(max-width: $sm) {
			font-size: 2rem;
		}
	}
}

.bars {
	float: right !important;
	padding-top: 0.2rem;
	margin-right: 1.2rem;
}

.phone {
	float: left !important;
	margin-left: 1rem;
}

.navigation {
	height: 3.3rem;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 999;
	background: $burgundy;
	text-align: center !important;
	box-shadow: -1px 1px 9px 0 $black;
	width: 100%;
	float: right;
	@media(max-width: $md) {
		margin-top: 6rem !important;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
	}
	@media(max-width: $sm) {
		margin-top: 4rem !important;
		padding-bottom: 0;
	}

	img {
		margin-top: -78px;
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		float: left;
		position: relative;
		z-index: 1;
		@media(max-width: $md) {
			margin-top: -3rem !important;
			height: 11rem;
			text-align: center;
			float: none !important;
		}
	}

	li {
		float: left;
		/* Show list items inline */
		position: relative;
		margin-left: 0.4rem;
		@media(max-width: $md) {
			float: none;

			&:nth-child(n+3) {
				margin: 0 auto;
				width: 80%;
				display: none;
				border-left: 0.5rem solid $burgundy;
				border-right: 0.5rem solid $burgundy;

				a {
					text-align: left;
					padding: 15px;
					line-height: 20px;
					color: $burgundy;
					background-color: beige;
					border-bottom: 1px solid #d3d3d3;
					font-weight: bold;

					&:not(:only-child):after {
						float: right;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						content: '\f0d7';
					}
				}
			}

			// &:first-child {
			// 	float: left !important;
			// 	margin-left: 1rem;
			// }

			// &:nth-child(2) {
			// 	float: right !important;
			// 	padding-top: 0.2rem;
			// 	margin-right: 1.2rem;
			// }
		}

		a {
			color: #f5f5dc;
			display: block;
			/* Making sure a element covers whole li area */
			padding: 1rem 0.5rem;
			text-decoration: none;
			/* No underline */
			text-align: center;
			text-transform: uppercase;
			@media(max-width: $md) {
				padding: 0;
			}
		}
	}

	ul {
	// -webkit-transition: height 0.3s ease-in-out;
	// transition: height 0.3s ease-in-out;
		position: absolute;
		left: 0;
		display: none;
		/* Hide it by default */
		// margin: 0 0 0 -1px;
		margin-left: -3rem;
		margin-top: 0.75rem;
		padding: 0;
		list-style: none;
		border: 5px solid #77003d;
		z-index: 99;
		@media(max-width: $md) {
			background-color: beige;
			margin-left: 0rem !important;
			margin-top: 0rem !important;
			// padding-left: 2rem;
			display: inline-block;
			position: relative;
			height: auto;
			border: 0;
		}
		&:after {
			content: '';
			position: absolute;
			left: 5.25rem;
			top: -.8rem;
			width: 0;
			height: 0;
			margin-bottom: 0.5rem;
			color: $burgundy;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 8px solid $burgundy;
			@media(max-width: $md) {
				display:none;
			}
		}

		li {
			margin-left: -.005rem;
			width: 180px;
			float: left;
			border-top: none;
			@media(max-width: $md) {
				width: 100%;
				margin-left: 0rem;
				padding-left: 3rem;
				background-color: beige;
			}
		}

		a {
			display: block;
			/* Making sure a element covers whole li area */
			padding: 8px 7px 13px;
			color: #77003d;
			text-decoration: none;
			border: none;
			background: #f5f5dc;
			border-bottom: 1px solid #d3d3d3;
			border-radius: 0 !important;
			font-weight: bold;

			&:hover {
				background-color: $white;
			}
		}
	}

	li {
		&:last-child a {
			border-right: 0;
		}
	}

	ul a {
		border-radius: none !important;
	}
}

.fa-phone-square {
	float: left;
	color: #f5f5dc;
	padding-top: 0.2rem;
	@media(min-width: $md) {
		display: none !important;
	}
	@media(max-width: $sm) {
		font-size: 2.5rem !important;
	}
}

.fa-bars {
	float: right;
	color: #f5f5dc;
	// margin-right: 1.3rem;
	cursor: pointer;
	@media(min-width: $md) {
		display: none !important;
	}
	@media(max-width: $sm) {
		font-size: 2.5rem !important;
		margin-top: 0.2rem;
		padding-top: .2rem; 
		margin-right: 1.2rem; 
	}
}
/* Little tricking with positions */
/* Playing with Main Categories */
/* Sub Cat Menu stuff*/
/* Sub Cat menu link properties */
@font-face {
	font-family: 'lorabold';
	src: url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bold-webfont.woff');
	src: url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bold-webfont.eot?#iefix') format("embedded-opentype"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bold-webfont.woff') format("woff"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bold-webfont.ttf') format("truetype"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bold-webfont.svg#lorabold') format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'lorabold_italic';
	src: url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bolditalic-webfont.eot');
	src: url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bolditalic-webfont.eot?#iefix') format("embedded-opentype"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bolditalic-webfont.woff') format("woff"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bolditalic-webfont.ttf') format("truetype"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-bolditalic-webfont.svg#lorabold_italic') format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'loraregular';
	src: url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-regular-webfont.eot');
	src: url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-regular-webfont.eot?#iefix') format("embedded-opentype"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-regular-webfont.woff') format("woff"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-regular-webfont.ttf') format("truetype"), url('http://hopeglenfarm.com/wp-content/themes/hg/fonts/lora-regular-webfont.svg#loraregular') format("svg");
	font-weight: normal;
	font-style: normal;
}

#gridcontainercal1_0 {
	height: 408px !important;
}

#mvEventContainercal1_0 {
	height: 390px !important;
}

#multicalendar {
	margin-top: 18px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	outline: none;
	font-family: 'loraregular';
}

.cycloneslider-slide {
	background-color: transparent !important;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 27;
	opacity: 0;
	@media(max-width: $md) {
		width: 100%;
	}
}

#tagline {
	float: left;
	font-size: 18px;
	margin: 20px 0 0 25px;
	width: 350px;
	font-family: 'lorabold';
	text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
	@media(max-width: $md) {
		margin: 1rem 0 0;
		text-align: center !important;
		width: 100% !important;
	}
}

#tribe-events-pg-template {
	float: left;
}

.width960 {
	margin: 0 auto;
	width: 960px;
	@media(max-width: $md) {
		width: 100% !important;
	}
}

#parent {
	float: left;
	width: 910px;
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/parent.jpg");
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	box-shadow: -1px 0 9px 0 $black;
	@media(max-width: $md) {
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}
}

#header {
	width: 100%;
}

#number {
	float: right;
	text-align: right;
	width: 300px;
	font-family: 'lorabold_italic';
	font-size: 16px;
	color: $burgundy;
	height: 116px;
	text-shadow: 0 0 2px $white, 0 0 2px $white, 0 0 1px $white, 0 0 2px $white;
	@media(max-width: $md) {
		display: none !important;
	}

	span {
		font-family: 'lorabold_italic';
		font-size: 22px;
	}
}

#nav {
	width: 100%;
	// background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/navshadow.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
	padding-bottom: 13px;

	a {
		font-size: 1.1rem;
	}
}
/*
#header-right #navshadow{
background: url("images/navshadow.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
float: right;
height: 13px;
width: 646px;
}
*/
// #nav a {
// 	font-size: 14px;
// }

#top-floral-elements {
	float: left;
	width: 949px;
	height: 101px;
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/floral.png");
	margin: -17px 0 0 -19px;
	position: relative;
	z-index: 10;
	color: white;
	@media(max-width: $md) {
		display: none;
		margin: 0;
	}
}

.break {
	@media(max-width: $md) {
		display: none;
	}
}

#slider {
	float: left;
	// height: 400px;
	margin: -84px 0 0 29px;
	padding-bottom: 60px;
	@media(max-width: $md) {
		float: none;
		width: 100% !important;
		margin-top: 0 !important;
		margin-left: -.005rem !important;
	}
	@media(max-width: $sm) {
		padding-bottom: 1rem !important;
	}
	// width: 960px;
	// background: url(http://hopeglenfarm.com/wp-content/themes/hg/images/slidershadow.png) no-repeat bottom center;
	img {
		width: 960px;
		height: 400px;
		margin-left: -54px;
		@media(max-width: $md) {
			width: 100% !important;
			margin-left: 0 !important;
		}
		@media(max-width: $sm) {
			height: 16rem;
		}
	}
}

#slider-inner {
	float: left;
	width: 100%;
	height: 100%;
	background: $gray;
	@media(max-width: $sm) {
		height: 16rem;
	}
}

#social {
	float: left;
	padding-left: 0.25rem;
	height: 300px;
	margin: 0 -110px 0 0;
	width: 50px;

	a {
		float: left;
		width: 50px;
		height: 49px;
		@media(max-width: $md) {
			display: none;
		}
	}
	@media(max-width: $md) {
		display: none;
		margin: none;
	}
	// img {
	// 	width: 100%;
	// 	float: left;
	// }
}

#content {
	float: left;
	width: 851px;
	@media(max-width: $md) {
		width: 100% !important;
		// margin-right: 30px;
	}
}

#content-left {
	float: left;
	width: 580px;
	@media(max-width: $md) {
		float: none;
		width: 93%;
		margin-right: 5rem;
		padding-left: 30px;
	}
	@media(max-width: $sm) {
		float: none;
		width: 89%;
		margin-right: 5rem;
	}
}

#threesec {
	float: left;
	width: 100%;
	margin-bottom: 18px;
}

.ts {
	float: left;
	width: 177px;
	margin-right: 22px;
	cursor: pointer;

	h2 {
		color: $darkRed;
		float: left;
		font-size: 18px;
		margin-bottom: 3px;
	}

	img {
		float: left;
		padding-bottom: 10px;
		background: url("../images/tsshadow.png") no-repeat bottom center;
	}
}

#content-left {
	h1 {
		float: left;
		font-family: 'lorabold';
		color: $darkRed;
		font-size: 28px;
	}

	h5 {
		float: left;
		width: 100%;
		margin-top: 20px;
		font-size: 22px;
		color: $darkRed;
	}

	p {
		float: left;
		text-align: justify;
		font-size: 16px;
		color: $black;
		font-family: 'loraregular';
		margin: 5px 0;
		width: 100%;
	}
}

.last {
	margin-right: 0;
}

.clearer {
	float: left;
	width: 100%;
	clear: both;
}

#ffl {
	float: left;
	width: 100%;
	height: 70px;
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/footerfloral.png") top center no-repeat;
	margin-top: 30px;
}

#sidebar {
	float: right;
	// width: 245px;
	@media(max-width: $md) {
		float: none !important;
		width: 100% !important;
	}

	img {
		@media(max-width: $md) {
			margin: auto;
			display: block;
		}
	}
}

#contact {
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/contactbg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 8px solid #781730;
	border-radius: 3px;
	box-shadow: 0 3px 5px -1px $black;
	float: right;
	padding: 15px 15px 15px 0;
	width: 227px;
	@media(max-width: $md) {
		float: none !important;
		margin: 0 auto;
	}
}

.ctf {
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/c34.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	margin-bottom: 10px;
	margin-left: 4px;
	padding: 3px 0 7px 7px;
	width: 227px;
}

.ctf2 {
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/c34.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	margin-bottom: 10px;
	margin-left: 4px;
	padding: 3px 0 7px 7px;
	width: 227px;
	background: url("http://hopeglenfarm.com/wp-content/uploads/2014/03/ctf2b.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	textarea {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		font-size: 12px;
		height: 70px;
		margin: 0 0 0 -1px;
		width: 138px;
	}
}

.ctf p,
.ctf2 p {
	color: $white;
	float: left;
	font-size: 10px;
	padding: 8px 2px 2px 3px;
	width: 70px;
}

.ctf input {
	&[type="email"],
	&[type="text"] {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		float: left;
		font-size: 12px;
		height: 21px;
		margin: -4px 0 0;
		width: 127px;
	}
}

input[type="submit"] {
	float: right;
	width: 72px;
	height: 30px;
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/submit.png");
	font-size: 0;
}

#contact h3 {
	background: url("http://hopeglenfarm.com/wp-content/themes/hg/images/ctopbg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: $white;
	float: left;
	margin: -14px 0 0 -1px;
	padding: 6px 17px;
	width: 209px;
}

#footer {
	float: left;
	width: 100%;
	text-align: center;
	padding: 10px 0;

	p {
		color: #fff;
		font-size: 14px;
	}

	a {
		color: #fff;
		text-decoration: underline;
	}
}

.wpdevbk {
	float: left;
}

.bk_calendar_frame,
.months_num_in_row_ cal_month_num_1 {
	width: 578px !important;
}

.wpcf7-list-item {
	float: left;
	width: 100px;
	color: #000;
}

.wpcf7-radio {
	float: left;
	margin-top: -10px;
}

.fancy-gallery a {
	float: left !important;
	margin: 10px !important;
	width: 94px !important;

	img {
		border: 3px solid $gray;
		box-shadow: 0 4px 12px -2px $black !important;
		float: left;
		height: auto;
		width: 100% !important;
	}
}

.wpcf7-text {
	float: left;
	width: 195px;
	margin-bottom: 10px;
}

.wpcf7-captchar {
	float: left;
	width: 195px;
	margin-bottom: 10px;
	padding: 10px;
}
